{
  "env": {
    "node": true,
    "es6": true
  },
  "root": true,
  "ignorePatterns": ["dist/"],
  "rules": {
    "no-console": "off",
    "indent": ["error", 4],
    "quotes": ["error", "single"]
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
